    <div class="modal" tabindex="-1" role="dialog" id="ModalGetQuicklink" aria-hidden="true"><div class="modal-dialog modal-dialog-centered"><div class="modal-content">
    <div class="modal-header"><h5 class="modal-title">Поделиться ссылкой</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>   
    <div class="modal-body">
    <div class="form-group">
    <label for="recipient-name" class="col-form-label" for="plan_quicklink">Ссылка на этот план занятия:</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="plan_quicklink" value="{{ @modal_url_txt }}">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="ButtonCopyQuicklink" onclick="Copy2Clipboard('plan_quicklink')">Скопировать</button>
        </div>
    </div>
    <div class="row">
    <div class="col-12 col-sm-3 tip"><p class="text-left"><img src="{{ @modal_url_img }}"></p></div>
    <div class="col tip"><p>Сканируйте QR-код при помощи своего мобильного телефона:</p><ul class="list-unstyled"><li>&ndash; <a href="https://support.mozilla.org/ru/kb/skanirovanie-qr-koda-v-firefox-dlya-android">Mozilla Firefox на устройстве Android</a>;</li><li>&ndash; сервис <a href="https://support.google.com/photos/answer/7539151?hl=ru&co=GENIE.Platform">Google Lens на устройстве Android</a>.</li></ul></div>
    </div>    
    </div>
    </div>
    </div></div></div>
    
    <div class="modal" tabindex="-1" role="dialog" id="ModalAddCat" aria-hidden="true"><div class="modal-dialog modal-dialog-centered"><div class="modal-content">
    <div class="modal-header"><h5 class="modal-title">Добавить категорию</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>   
    <form name="FormAddCategory" action="#">
    <div class="modal-body">
    <div class="form-group">
    <label for="category_title" class="col-form-label">Наименование:</label>
    <input type="text" class="form-control" id="category_title" name="category_title" autofocus="autofocus" required>
    <small id="category_titleHelp" class="form-text text-muted">Добавляемые категории не должны дублировать друг друга по смыслу. Возможность добавления подкатегорий &ndash; отсутствует. После добавления категории в неё можно будет добавить новое упражнение.</small>
    </div>
    </div>
    <div class="modal-footer"><button type="submit" class="btn btn-primary">Добавить</button></div>
    </form>
    </div></div></div>
    
    <div class="modal" tabindex="-1" role="dialog" id="ModalPlanLocker" aria-hidden="true"><div class="modal-dialog modal-dialog-centered"><div class="modal-content">
    <div class="modal-header"><h5 class="modal-title">Сохранить план тренировки</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>   
    <form name="FormPlanLocker" action="/plan/locker" method="POST">
    <input type="hidden" name="plan_ql" value="{{ @modal_quicklink }}">
    <div class="modal-body">
    <p>Сохраненные планы тренировок не подлежат изменению. Список планов доступен всем пользователям инфосистемы.</p>
    <div class="form-group">
    <label for="plan_title" class="col-form-label">Название плана:</label>
    <input type="text" class="form-control" id="plan_title" name="plan_title" autofocus="autofocus" required>
    <small id="plan_titleHelp" class="form-text text-muted">Укажите название, характеризующее составленный Вами план, например &laquo;Тренировка для новичков&raquo; или &laquo;Одиночная тренировка&raquo;.</small>
    </div>
    </div>
    <div class="modal-footer"><button type="submit" class="btn btn-primary">Сохранить</button></div>
    </form>
    </div></div></div>

    <div class="modal" tabindex="-1" role="dialog" id="ModalPlansList" aria-hidden="true"><div class="modal-dialog modal-dialog-centered modal-lg"><div class="modal-content">
    <div class="modal-header locked_legend" ><h5 class="modal-title">Сохраненные тренировки</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    <div class="modal-body">        
        <ul class="list-unstyled">
            <repeat group="{{ @list_plans }}" value="{{ @l }}"> 
            <li><small class="text-muted font-italic">{{ @l.date_locked }}</small>&nbsp;&ndash;&nbsp;<a href="/plan/{{ @l.quicklink }}">{{ @l.locked_title }}</a></li>
            </repeat></tbody>
        </ul>
    </div></div></div></div>

    <div class="modal" tabindex="-1" role="dialog" id="ModalAddExr" aria-hidden="true"><div class="modal-dialog modal-dialog-centered modal-lg"><div class="modal-content">
    <div class="modal-header"><h5 class="modal-title">Добавить упражнение</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    <form name="FormAddExercise" action="#">
    <div class="modal-body">
    <div class="form-group">
    <label for="exercise_title" class="col-form-label">Наименование:</label>
    <input type="text" class="form-control"  name="exercise_title" id="exercise_title" autofocus="autofocus" required maxlength="30">
    <small id="exercise_titleHelp" class="form-text text-muted">Выберите короткое, простое и уникальное название.</small>
    </div>
    <div class="form-group">
    <label for="category_title" class="col-form-label">Категория:</label>
    
    <check if="{{ @modal_categories }}">
    <true>
        <select class="form-control" name="category_id" required>
        <option selected disabled>Не выбрана</option>
        <repeat group="{{ @modal_categories }}" value="{{ @cat }}">
            <option value="{{ @cat.id  }}" <check if="{{ @modal_req_cat_id==@cat.id }}">selected</check>>{{ @cat.title  }}</option>
        </repeat>   
        </select>             
    </true>
    <false>
        <div class="alert alert-primary" role="alert">Категории упражнений отсутствуют.</div>
    </false>
    </check>
    </div>
    <div class="form-group">
    <label for="exercise_description" class="col-form-label">Описание:</label>
    <textarea class="form-control" id="exercise_description" name="exercise_description" rows="4" required></textarea>
    <small id="exercise_descriptionHelp" class="form-text text-muted">Максимальное количество символов - 512.</small>
    </div>
    </div>
    <div class="modal-footer"><button type="submit" class="btn btn-primary">Добавить</button></div>
    </form>
    </div></div></div>
