                <div class="col-4">
                    <check if="{{ @colOne }}">
                    <repeat group="{{ @colOne }}" value="{{ @ex1 }}">
                    <div class="card" id="{{ @ex1.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @ex1.title }}.</strong> {{ nl2br(@ex1.description) | raw }}</p></div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove='{{ @ex1.id }}'><span aria-hidden="true">&times;</span></button></div></div>
                    </repeat>                
                    </check>
                </div><div class="col-4">
                    <check if="{{ @colTwo }}">
                    <repeat group="{{ @colTwo }}" value="{{ @ex2 }}">
                    <div class="card" id="{{ @ex2.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @ex2.title }}.</strong> {{ nl2br(@ex2.description) | raw }}</p></div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove='{{ @ex2.id }}'><span aria-hidden="true">&times;</span></button></div></div>
                    </repeat>                
                    </check>
                </div><div class="col-4">
                    <check if="{{ @colThree }}">
                    <repeat group="{{ @colThree }}" value="{{ @ex3 }}">
                    <div class="card" id="{{ @ex3.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @ex3.title }}.</strong> {{ nl2br(@ex3.description) | raw }}</p></div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove='{{ @ex3.id }}'><span aria-hidden="true">&times;</span></button></div></div>
                    </repeat>                
                    </check>
                </div>