    <include href="blocks/head.htm" with="id={{ @pln_conf_id }},ql={{ @pln_conf_quicklink }}"/>

    <div class="timer" id="MainTimer">
        <div class="container-fluid"><div class="col-12 d-flex align-items-center justify-content-center">
           <button type="button" class="btn btn-warning" onclick="TimerMinus(this)"><i class="fas fa-minus"></i></button><a href="#" class="stop">00:00:30</a><button type="button" class="btn btn-warning" onclick="TimerPlus(this)"><i class="fas fa-plus"></i></button>
        </div></div>
    </div>

    <div class="container-fluid">       
        <header><div class="row">
        <div class="col col-xl-5"><div class="row">
            
            <check if="{{ @pln_conf_locked == 1 }}"><true>
                <div class="col-9 col-md-11"><h2 class="locked_title mt-1"><small>
                    <i class="fas fa-tablet-alt text-black-50 is_mobile"></i><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 1 }}">
                    &nbsp;<i class="fas fa-lock text-black-50"></i></check>&nbsp;</small>
                    &laquo;{{ @pln_conf_title }}&raquo;</h2></div>
                <div class="col-3 col-md-1"><div class="btn-group float-right">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#ModalGetQuicklink"><i class="fas fa-link"></i></button>
                    <a href="#" class="btn btn-light is_mobile" onclick="TimerView(this)"><i class="fas fa-hourglass-half"></i></a>
                </div></div>   
            </true><false>
				<div class="col-7 col-md-2 col-xl-4"><h1>Тренировка</h1></div>
                <div class="col-5 col-md-10 col-xl-8">
                    <form class="form-inline float-right"><div class="form-group d-none d-md-block"><i class="fas fa-calendar-alt"></i><input type="date" id="ConfigTrainDate" class="form-control mx-sm-2" onchange="Config2Base()" <check if="{{ @pln_conf_planned }}">value="{{ date(@pln_conf_planned) }}"</check>></div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#ModalGetQuicklink"><i class="fas fa-link"></i></button>
                            <a href="#" class="btn btn-light is_mobile" onclick="TimerView(this)"><i class="fas fa-hourglass-half"></i></a>    
                            <a href="#" class="btn btn-light <check if="{{ @has_plan=='FALSE' || @pln_conf_locked == 1 }}">disabled</check> d-none d-xl-block" <check if="{{ @pln_conf_locked == 0 }}">data-toggle="modal" data-target="#ModalPlanLocker"</check> ><i class="fas <check if="{{ @pln_conf_locked == 1 }}"><true>fa-lock</true><false>fa-lock-open</false></check>"></i></a>
                        </div>
                    </form>
                </div>				
            </false></check>

        </div></div>                      
        <div class="col-7 d-none d-xl-block">
            <a class="btn btn-secondary btn-sm mt-1" href="#" role="button" data-toggle="modal" data-target="#ModalPlansList"><i class="fas fa-bars"></i>&nbsp;&nbsp;Сохранённые тренировки</a>
        </div>    
        </div></header>
        <div class="row">
            <div class="col">
                <check if="{{ @has_plan=='FALSE' }}">
                    <div class="alert alert-success is_mobile" role="alert"><strong>Новый план тренировки!</strong> Пожалуйста, редактируйте его на компьютере!</div>
                </check>
                <main>
                    
                    <section style="min-height:100px;" class="section_dropzone" data-section="1">Разминка <small>10 минут</small>
                    <check if="{{ @pln_content_0 && @pln_conf_locked == 0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_0 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}"><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></check></div>
                    <check if="{{ @pln_conf_locked == 0 }}">
                        <div class="dropzone"></div>
                    </check>
                    </repeat>
                    </section>
                    <div class="tip text-center"><p><img src="https://sunfox.ee/resources/eventmarks/16/lifecycle.png"> &mdash; Следите за пульсом у спортсменов!</p></div>
                    <section style="min-height:50px;" class="section_dropzone" data-section="2">Общая физическая подготовка <small>5 минут</small>
                    <check if="{{ @pln_content_1 && @pln_conf_locked == 0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_1 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}"><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></check></div>
                    <check if="{{ @pln_conf_locked == 0 }}">
                        <div class="dropzone"></div>
                    </check>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="3">Ударно-беговая тренировка <small>10 минут</small>
                    <check if="{{ @pln_content_2 && @pln_conf_locked == 0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_2 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}"><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></check></div>
                    <check if="{{ @pln_conf_locked == 0 }}">
                        <div class="dropzone"></div>
                    </check>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="4">Специальная физическая подготовка <small>15 минут</small>
                    <check if="{{ @pln_content_3 && @pln_conf_locked == 0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_3 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}"><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></check></div>
                    <check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}">
                        <div class="dropzone"></div>
                    </check>
                    </repeat>
                    </section>
                    <section style="min-height:50px;" class="section_dropzone" data-section="5">Новая информация <small>5 минут</small>
                    <check if="{{ @pln_content_4 && @pln_conf_locked == 0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_4 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}"><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></check></div>
                    <check if="{{ @pln_conf_locked == 0 }}">
                        <div class="dropzone"></div>
                    </check>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="6">Наработка техники <small>15 минут</small>
                    <check if="{{ @pln_content_5 && @pln_conf_locked == 0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_5 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}"><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></check></div>
                    <check if="{{ @pln_conf_locked == 0 }}">
                        <div class="dropzone"></div>
                    </check>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="7">Бои <small>20 минут</small>
                    <check if="{{ @pln_content_6 && @pln_conf_locked == 0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_6 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}"><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></check></div>
                    <check if="{{ @pln_conf_locked == 0 }}">
                        <div class="dropzone"></div>
                    </check>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="8">Заминка <small>10 минут</small>
                    <check if="{{ @pln_content_7 && @pln_conf_locked == 0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_7 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><check if="{{ @has_plan=='TRUE' && @pln_conf_locked == 0 }}"><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></check></div>
                    <check if="{{ @pln_conf_locked == 0 }}">
                        <div class="dropzone"></div>
                    </check>
                    </repeat>
                    </section>
                </main>                
            </div>
            <div class="col-7 d-none d-xl-block">
                <div class="row">
                    <div class="col"><h3>Упражнения в категориях:</h3></div>
                    <div class="col-6 text-right"><button type="button" id="ModalAddCatBtn" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#ModalAddCat"><i class="fas fa-plus"></i> Категория</button>&nbsp;<button type="button" id="ModalAddExrBtn" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#ModalAddExr" <check if="{{ @has_cats==false }}">disabled</check>><i class="fas fa-plus"></i> Упражнение</button></div>
                </div>    
                <div id="CategoriesList">
                
                </div>
                <div class="row justify-content-start exr_list" id="ExersicesList">
                
                </div>
            </div>
    </div></div>
    <include href="blocks/foot.htm" />
