    <include href="blocks/head.htm" with="id={{ @pln_conf_id }},ql={{ @pln_conf_quicklink }}"/>
    <div class="container-fluid">       
        <header><div class="row">
        <div class="col-7 col-sm-7 col-xl-2"><h1>Тренировка<small>&nbsp;<i class="fas fa-tablet-alt text-black-50 is_mobile"></i></small></h1></div>
        <div class="col-5 col-sm-5 col-xl-3">  
            <form class="form-inline float-right"><div class="form-group d-none d-md-block"><i class="fas fa-calendar-alt"></i><input type="date" id="ConfigTrainDate" class="form-control mx-sm-2" onchange="Config2Base()" <check if="{{ @pln_conf_planned }}">value="{{ date(@pln_conf_planned) }}"</check>></div>
            <div class="btn-group"><button type="button" class="btn btn-light" data-toggle="modal" data-target="#ModalGetQuicklink"><i class="fas fa-link"></i></button><a href="#" class="btn btn-light disabled"><i class="fas fa-print"></i></a></div>
            </form>
        </div>
        <div class="d-none d-xl-block">
        <!--
        Place for execrises filtering system, planned in v.1.3 :)
        -->
        </div>    
        </div></header>
        <div class="row">
            <div class="col">
                <check if="{{ @has_plan=='FALSE' }}">
                    <div class="alert alert-success is_mobile" role="alert"><strong>Новый план тренировки!</strong> Пожалуйста, редактируйте его на компьютере!</div>
                </check>
                <main>
                    
                    <section style="min-height:100px;" class="section_dropzone" data-section="1">Разминка <small>10 минут</small>
                    <check if="{{ @pln_content_0 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_0 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></div>
                    <div class="dropzone"></div>
                    </repeat>
                    </section>
                    <div class="pulse text-center"><img src="https://sunfox.ee/resources/eventmarks/16/lifecycle.png"> &mdash; Не забывайте проверять пульс у спортсменов!</div>
                    <section style="min-height:50px;" class="section_dropzone" data-section="2">Общая физическая подготовка <small>5 минут</small>
                    <check if="{{ @pln_content_1 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_1 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></div>
                    <div class="dropzone"></div>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="3">Ударно-беговая тренировка <small>10 минут</small>
                    <check if="{{ @pln_content_2 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_2 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></div>
                    <div class="dropzone"></div>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="4">Специальная физическая подготовка <small>15 минут</small>
                    <check if="{{ @pln_content_3 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_3 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></div>
                    <div class="dropzone"></div>
                    </repeat>
                    </section>
                    <section style="min-height:50px;" class="section_dropzone" data-section="5">Новая информация <small>5 минут</small>
                    <check if="{{ @pln_content_4 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_4 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></div>
                    <div class="dropzone"></div>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="6">Наработка техники <small>15 минут</small>
                    <check if="{{ @pln_content_5 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_5 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></div>
                    <div class="dropzone"></div>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="7">Бои <small>20 минут</small>
                    <check if="{{ @pln_content_6 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_6 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></div>
                    <div class="dropzone"></div>
                    </repeat>
                    </section>
                    <section style="min-height:100px;" class="section_dropzone" data-section="8">Заминка <small>10 минут</small>
                    <check if="{{ @pln_content_7 }}"><div class="dropzone"></div></check>
                    <repeat group="{{ @pln_content_7 }}" value="{{ @plan_exr }}">                        
                    <div class="card card_planned card_removable" id="{{ @plan_exr.id }}"><div class="card-body flex-grow-1"><p class="card-text"><strong>{{ @plan_exr.title }}.</strong> {{ nl2br(@plan_exr.description) | raw }}</div><div class="card_remove"><button type="button" class="close" aria-label="Close" data-card-remove="{{ @plan_exr.id }}"><span aria-hidden="true">×</span></button></div></div>
                    <div class="dropzone"></div>
                    </repeat>
                    </section>
                </main>                
            </div>
            <div class="col-7 d-none d-xl-block">
                <div class="row">
                    <div class="col"><h3>Упражнения в категориях:</h3></div>
                    <div class="col-6 text-right"><button type="button" id="ModalAddCatBtn" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#ModalAddCat"><i class="fas fa-plus"></i> Категория</button>&nbsp;<button type="button" id="ModalAddExrBtn" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#ModalAddExr" <check if="{{ @has_cats==false }}">disabled</check>><i class="fas fa-plus"></i> Упражнение</button></div>
                </div>    
                <div id="CategoriesList">
                
                </div>
                <div class="row justify-content-start exr_list" id="ExersicesList">
                
                </div>
            </div>
    </div></div>
    <include href="blocks/foot.htm" />
